//Typography
//Focus
a {
    text-decoration: none !important;
    color: $dark-black;

    &:hover {
        text-decoration: none !important;
    }
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

a:hover {
    text-decoration: none;
    color: $dark-black;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    @extend %primary-font;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.ioh_h1 {
    @extend %primary-font;
    font-size: 30px;
    line-height: normal;
    color: $dark-black
}

.ioh_h2 {
    @extend %primary-font;
    font-size: 28px;
    line-height: normal;
    color: $dark-black
}

.ioh_h3 {
    @extend %primary-font;
    font-size: 20px;
    line-height: normal;
}

.ioh_h4 {
    @extend %primary-font;
    font-size: 18px;
    line-height: normal;
}

.ioh_h5 {
    @extend %primary-font;
    font-size: 16px;
    line-height: normal;
}

.ioh_h6 {
    @extend %primary-font;
    font-size: 14px;
    line-height: normal;
}

.help_component {
    .ioh_h1 {
        font-size: 30px;
    }
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}
.font16
{
    font-size: 16px;
}

.light_regular {
    font-family: $light-font;
}
.regular_font{
    font-family: $regular-font;
}

.uppercase_bold_font {
    font-size: 14px;
    @extend %primary-font;
    text-transform: uppercase;
}

.number_ol {
    list-style: decimal;
    padding-left: 16px;
    list-style-position: outside;

    li {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.upppercase_heading {
    font-size: 12px;
    @extend %primary-font;
    text-transform: uppercase;
}

.dot_ul {
    list-style: disc;
    padding-left: 16px;
    list-style-position: outside;

    li {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

/*ftth-payment-channel-info-comp st*/
.no_ul {
    list-style: symbols;
    padding-left: 14px;
    list-style-position: outside;

    li {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

/*ftth-payment-channel-info-comp end*/

.support_text {
    color: $dark-gray;
    font-size: 14px !important;

    b {
        color: #000;
    }
}

.h1_ellipsis_2 {
    max-height: 90px;
    @include ellipsis(2);
}

.h1_ellipsis_3 {
    max-height: 130px;
    @include ellipsis(3);
}

.h2_ellipsis_1 {
    max-height: 36px;
    @include ellipsis(1);
}

.h2_ellipsis_4 {
    max-height: 140px;
    @include ellipsis(4);
}

.h3_ellipsis_3 {
    max-height: 85px;
    @include ellipsis(3);
}

.p_ellipsis_3 {
    max-height: 80px;
    @include ellipsis(3);
}

.p_ellipsis_4 {
    max-height: 102px;
    @include ellipsis(4);
}

.p_ellipsis_2 {
    max-height: 55px;
    @include ellipsis(2);
}

@media (max-width: 991.98px) {
    .ioh_h1 {
        font-size: 30px;
    }

    .ioh_h2 {
        font-size: 22px;
    }

    .h1_ellipsis_2 {
        max-height: 74px;
    }

    .h1_ellipsis_3 {
        max-height: 120px;
    }

    .h2_ellipsis_1 {
        max-height: 28px;
    }

    .h2_ellipsis_4 {
        max-height: 106px;
    }
}

@media (max-width: 767.98px) {
    .ioh_h1 {
        font-size: 22px;
    }

    .help_component {
        .ioh_h1 {
            font-size: 22px;
        }
    }

    .ioh_h2 {
        font-size: 18px;
    }

    .ioh_h3 {
        font-size: 16px;
    }

    .h1_ellipsis_2 {
        max-height: 54px;
    }

    .h1_ellipsis_3 {
        max-height: 84px;
    }

    .h2_ellipsis_1 {
        max-height: 24px;
    }

    .h2_ellipsis_4 {
        max-height: 90px;
    }

    .h3_ellipsis_3 {
        max-height: 85px;
    }
    .font16
    {
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {
    .light_regular {
        font-family: $regular-font;
    }

    .p_ellipsis_3 {
        max-height: 70px;
    }

    .p_ellipsis_2 {
        max-height: 47px;
    }

    .p_ellipsis_4 {
        max-height: 90px;
    }

    .ioh_h6 {
        font-size: 14px;
    }

    .uppercase_bold_font {
        font-size: 12px;
    }
}

@media (max-width: 424.98px) {
    .ioh_h1 {
        font-size: 20px;
    }

    .help_component {
        .ioh_h1 {
            font-size: 20px;
        }
    }

    .h1_ellipsis_2 {
        max-height: 50px;
    }

    .h1_ellipsis_3 {
        max-height: 80px;
    }
}

@media (max-width: 374.98px) {}