//Banners
.global_hero_banner {
    min-height: 350px;
    background: $white-light;
    .swiper-slide {
        background: $white-light;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
            width: auto;
            height: auto;
            // object-fit: cover;
            // object-position: top;
            max-width: 2000px;
        }
    }
    .swiper-slide1{
        img{
            width: 100%;
        }
    }
    .swiper-pagination-bullets {
        width: 100%;
        bottom: 10px;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        opacity: 0.3;
    }
    .swiper-pagination-bullet-active {
        background: $primary;
        opacity: 1;
    }
}
.swiper-height{min-height: 280px !important;}

.full_card_swiper {
    padding-bottom: 70px !important;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
    padding-right: 12px;
    .swiper-pagination-bullets {
        width: 100%;
        bottom: 25px;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        opacity: 0.3;
        &:focus,
        &:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }
    .swiper-pagination-bullet-active {
        background: $primary;
        opacity: 1;
        &:focus,
        &:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }
    .swiper-slide {
        height: auto;
    }
    .shadow_card {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
        height: 100%;
    }
}
@media (max-width: 480px) {
    .product-swiper-comp{
        :nth-child(1){
            margin-left: 3px;
        }
        :nth-last-child(1){
            margin-right: 10px;
        }
    }
    .swiper-height{min-height:180px !important;}
}